rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == "edimar.varoni@gmail.com";
    }

    match /listings/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /posts/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Default deny for everything else
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
